<BsDropdown as |dd|>
  <dd.button @type="secondary">{{t (concat "locales." i18n.locale) }}<span class="caret"></span></dd.button>
  <dd.menu as |ddm|>
    <ddm.item>
      <button class="btn btn-sm" type="button" {{action "changeLocale" "en-se"}}>
        {{t "locales.en-se"}}
      </button>
    </ddm.item>
    <ddm.item>
      <button class="btn btn-sm" type="button" {{action "changeLocale" "es-co"}}>
        {{t "locales.es-co"}}
      </button>
    </ddm.item>
    <ddm.item>
      <button class="btn btn-sm" type="button" {{action "changeLocale" "pt-br"}}>
        {{t "locales.pt-br"}}
      </button>
    </ddm.item>
  </dd.menu>
</BsDropdown>
