<div class="menu">
  <div class="heading">
    {{#link-to "index"}}
      <span>
        <FaIcon @icon="head-side-brain" @prefix="fas" @size="2x"/>
        <h1>{{t "application.title"}}</h1>
      </span>
    {{/link-to}}

  </div>


  <LinkTo @route="record"  @class="nav-link nav-record">
    <span class="link-name">
      {{t "menus.application.record"}}
    </span>
    <FaIcon @icon="angle-right" @prefix="fal"/>
  </LinkTo>

    <LinkTo @route="tasks"  @class="nav-link nav-record">
      <span class="link-name">
        {{t "menus.application.tasks"}}
      </span>
      <FaIcon @icon="angle-right" @prefix="fal"/>
    </LinkTo>

  <LinkTo @route="help"  @class="nav-link nav-help">
    <span class="link-name">
      {{t "menus.application.help"}}
    </span>
    <FaIcon @icon="angle-right" @prefix="fal"/>
  </LinkTo>

  <LinkTo @route="settings"  @class="nav-link nav-settings">
    <span class="link-name">
      {{t "menus.application.settings"}}
    </span>
    <FaIcon @icon="angle-right" @prefix="fal"/>
  </LinkTo>

</div>
