<div class="menu">
  <div class="heading">
    {{#link-to "index"}}
      <h1>{{t "application.title"}}</h1>
    {{/link-to}}
    <p>{{t "application.description"}}</p>
  </div>


  <BsNav @type="nav" as |nav|>
    <nav.item @route="record" @class="nav-link nav-record">
      <span class="link-name">
        {{t "menus.application.record"}}
      </span>
      <FaIcon @icon="angle-right" @prefix="fal"/>
    </nav.item>
  </BsNav>

  <BsNav @type="nav" as |nav|>
    <nav.item @route="help" @class="nav-link nav-help">
      <span class="link-name">
        {{t "menus.application.help"}}
      </span>
      <FaIcon @icon="angle-right" @prefix="fal" />
    </nav.item>
  </BsNav>

  <BsNav @type="nav" as |nav|>
    <nav.item @route="settings" @class="nav-link nav-settings">
      <span class="link-name">
        {{t "menus.application.settings"}}
      </span>
      <FaIcon @icon="angle-right" @prefix="fal" />
    </nav.item>
  </BsNav>
</div>
