<body class="app">

  <div class={{if settings.isDark "bg-dark-mode" "bg-light-mode"}}>

    <div class="info-bar">
      <div class="info-clock mr-auto">
        <Clock />
      </div>

      <div class="info-device d-flex">
        <Stimulus @voltage={{model.stimulation_voltage}}/>
        <Rec @recording={{model.recording}} @text="REC"/>
        <Battery @value={{model.battery}} />
      </div>

    </div>

    <div class="row">
      <div class="col-md-auto">
        <Menu />
      </div>
      <div class="col">
        {{outlet}}
      </div>
    </div>
  </div>
</body>
