<body class="app">

  <div class={{if settings.isDark "bg-dark-mode" "bg-light-mode"}}>

    <div class="info-bar">
      <div class="info-clock mr-auto">
        <Clock />
      </div>

      <div class="info-device d-flex">
        <Connected @err={{model.error}} />
        {{#unless model.error}}
        <Stimulus @voltage={{model.stimulation_voltage}}/>
        <Rec @recording={{model.recording}} @text="REC"/>
        <Battery @value={{model.battery}} />
        {{/unless}}
        {{#if (eq model.error "Insufficient Battery")}}
        <Battery @value={{model.battery}} />
        {{/if}}
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        <Menu />
      </div>
      <div class="col-md-8">
        {{outlet}}
      </div>
    </div>
  </div>
</body>
