<Content @name={{t "menus.application.help"}}>

  {{#if model.error }}
  <div class="d-flex border rounded border-warning justify-content-around align-items-center mt-5 p-2">
    <FaIcon @icon="exclamation-triangle" @size=2x class="text-warning"/>
    <div class="connecting">
      <span>{{model.error}}</span>
    </div>
    <ConnectButton @device={{model}}/>
  </div>
  {{/if}}


  <div class="d-flex pt-5">
    <p class="h3 col-md-4">{{t "content.help.emergency"}}</p>
    <div class="col-md-8 d-flex flex-column">
      <p class="h5 mb-4">{{t "content.help.if-medical-emergency"}}</p>
      <p class="h5 mt-5">{{t "content.help.if-technical-difficulties"}}</p>
    </div>
  </div>


  <div class="d-flex pt-5">
    <p class="h3 col-md-4">{{t "content.help.usage"}}</p>
    <div class="col-md-8 d-flex flex-column">
      <p class="h4">{{t "menus.application.record"}}</p>
      <p class="h6">{{t "content.help.recording.text"}}</p>
      <p class="h4">{{t "menus.application.settings"}}</p>
      <p class="h6">{{t "content.help.settings.text"}}</p>
    </div>
  </div>

  <div class="d-flex pt-5">
    <p class="h3 col-md-4">{{t "content.help.troublehoot.title"}}</p>
    <div class="col-md-8 d-flex flex-column">
      <p class="h5 mb-4">{{t "content.help.troublehoot.text"}}</p>
    </div>
  </div>


</Content>
{{outlet}}
