<Content>
  <h1 class="greeting">{{t "greetings.hello"}}, {{settings.userName}}</h1>
  <hr>
  <h2 class="text-secondary">{{date}}</h2>
  <div class="d-flex flex-column">
    <h3 class="pt-5">{{t "status.here_is_the_current_status"}}</h3>
    <h1 class="status"><Stimulus @voltage={{model.stimulation_voltage}}/></h1>
    <h1 class="status"><Rec @recording={{model.recording}} @text="Recording"/></h1>
  </div>

</Content>
{{outlet}}
