<Content @name={{t "menus.application.record"}} >
  <hr>
  <div class="content-item">
    <h2 class="item-title">{{t "content.record.on_demand_recording"}}</h2>
    <div class="button-group">
      <RecButton @recording={{model.recording}} @toggleRec={{action (route-action "toggleRec")}}/>
    </div>
  </div>
</Content>

{{outlet}}
