<Content @name={{t "menus.application.settings"}}>
  <hr>
  <div>
    <div class="info-locale align-self-start p-3">
      <p class="h4">{{t "content.settings.language"}}</p>
      <LangSelect />
    </div>
  </div>

  <div>
    <label class="p-4">
      <p class="h4">{{t "content.settings.set-theme"}}</p>
      <XToggle
        @onLabel={{t "content.settings.dark"}}
        @offLabel={{t "content.settings.light"}}
        @showLabels={{true}}
        @theme='material'
        @value={{settings.isDark}}
        @onToggle={{action (route-action "toggleMode")}}
      />
    </label>
  </div>
  <div>
    <label class="p-4">
      <p class="h4">{{t "content.settings.show-provocation"}}</p>
      <XToggle
        @onLabel={{t "content.settings.show"}}
        @offLabel={{t "content.settings.hide"}}
        @showLabels={{true}}
        @theme='material'
        @value={{settings.showProvocation}}
        @onToggle={{action (route-action "toggleProvocation")}}
      />
    </label>
  </div>
  <div>
    <label class="p-4">
      <p class="h4">{{t "content.settings.toggle-lead-integrity-test"}}</p>
      <XToggle
        @onLabel={{t "content.settings.on"}}
        @offLabel={{t "content.settings.off"}}
        @showLabels={{true}}
        @theme='material'
        @value={{settings.leadIntegrityTest}}
        @onToggle={{action (route-action "toggleLeadIntegrityTest")}}
      />
    </label>
  </div>
  <div>
    <label class="p-4">
      <p class="h4">{{t "content.settings.toggle-beep"}}</p>
      <XToggle
        @onLabel={{t "content.settings.on"}}
        @offLabel={{t "content.settings.off"}}
        @showLabels={{true}}
        @theme='material'
        @value={{settings.beeps_on}}
        @onToggle={{action (route-action "toggleBeeps")}}
      />
    </label>
  </div>
</Content>

{{outlet}}
